<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/assets/certificate.css" />
  </head>
  <body>
    <div class="container" style="background:url('<%= Rails.root %>/app/assets/images/bg.png') no-repeat;background-size:contain;margin-left:300px;"/>
      <div class="container-box" style="margin-top:20px;">
          <div class="label" style="text-align:center;"> Presented To: </div>
          <div class="participant_name" style="text-align:center;"> 
            <%=  @user.name.humanize %> 
          </div> 
          <p style="text-align:center;font-size:8px;font-style:italic"> for paticipation in </p>
          <p style="text-align:center;font-size:12px"><%= @event.name %></p>
          <p style="text-align:center;font-size:12px"> Organised By <%= @event.organizer_name.humanize %> </p>
          <p style="text-align:center;font-size:8px"> http://twitter.com/makemyevent12</p>
      </div>
    </div>
  </body>
</html>
