= link_to "Add Event", new_event_path

%table.table.table-striped.table-bordered
  %thead
    %tr
      %th 
      %th name
      %th Actions
  %tbody
    - @events.each do |event|
      %tr
        %th= image_tag(event.logo(:small))
        %th= link_to event.name, event_path(event)
        %th= link_to "edit", edit_event_path(event)

