.links {
    padding-left: 104px;
    position: relative;
    width: 1148px;
}

.event ul li p {
    margin-left:120px;
}

.event ul li span {
    margin-left:120px;
}

.valid{
  color:red;
}

.left-box{
  width:40%;
  float:left
}

.right-box{
  width:50%;
  float:right;
  padding-left:20px;
}

.right-box-left{
  width:50%;
  float:left;
  padding-left:20px;
}
.right-box-right{
  width:45%;
  float:right;
  padding-left:10px;
}

.top-margin{
  margin-top:10px
}

.input-xxlarge{
  width:600px;
}
 
.map-view{
  width:100%;
  margin-top:10px;
}

.set-button{
 width:100%;
 clear:both;
 padding: 40px 0px;
}

.title{
  font-weight:bold;
}
.main-title{
  font-weight:bold;
  font-size:26px;
}

.alert{
  padding: 8px 35px 8px 14px;
  margin-bottom: 20px;
  color: #C09853;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #FCF8E3;
  border: 1px solid #FBEED5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.alert-error{
  color: #B91348;
  background-color: #F2DEDE;
  border-color: #EED3D7;
}

.global {
  position: absolute;
  z-index: 1000;
  text-align:center;
  width:100%;
}

#signin {
    position: absolute;
    right:0;
    color: #C6C8C8;
}

#signin span {
    padding-top: 50px;
    vertical-align: top;
    font-weight: 400;
}

#signin ul {
    width: 200px;
}

#signin ul li {
    text-decoration: none;
    width:auto;
    float:left;
    padding-left:10px;
}

.signout {
  color: #fff;
  font-size:1em;
  font-weight: 400;
  text-decoration: none;
}
.edit_user {
  float: right;
}
.user_photo {
  float: left;
  margin-right: 15px;
}
.right_full {
  width: 64% !important;
}

.short_desc {
  min-height: 165px;
}

.participate {
  text-align: right;
}

.add-event {
  position: absolute;
  right: 0;
}

.search-box {
    border: 1px solid #474F51;
    padding: 3px;
}


/* bootstrap carousel */

.carousel {
  position: relative;
  margin-bottom: 20px;
  line-height: 1;
}

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel .item {
  position: relative;
  display: none;
  -webkit-transition: 0.6s ease-in-out left;
     -moz-transition: 0.6s ease-in-out left;
       -o-transition: 0.6s ease-in-out left;
          transition: 0.6s ease-in-out left;
}

.carousel .item > img {
  display: block;
  line-height: 1;
}

.carousel .active,
.carousel .next,
.carousel .prev {
  display: block;
}

.carousel .active {
  left: 0;
}

.carousel .next,
.carousel .prev {
  position: absolute;
  top: 0;
  width: 100%;
}

.carousel .next {
  left: 100%;
}

.carousel .prev {
  left: -100%;
}

.carousel .next.left,
.carousel .prev.right {
  left: 0;
}

.carousel .active.left {
  left: -100%;
}

.carousel .active.right {
  left: 100%;
}

.carousel-control {
  position: absolute;
  top: 40%;
  left: 15px;
  width: 40px;
  height: 40px;
  margin-top: -20px;
  font-size: 60px;
  font-weight: 100;
  line-height: 30px;
  color: #ffffff;
  text-align: center;
  background: #222222;
  border: 3px solid #ffffff;
  text-decoration: none;
  -webkit-border-radius: 23px;
     -moz-border-radius: 23px;
          border-radius: 23px;
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.carousel-control.right {
  right: 15px;
  left: auto;
}

.carousel-control:hover {
  color: #ffffff;
  text-decoration: none;
  opacity: 0.9;
  filter: alpha(opacity=90);
}

.carousel-caption {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 15px;
  background: #333333;
  background: rgba(0, 0, 0, 0.75);
}

.carousel-caption h4,
.carousel-caption p {
  line-height: 20px;
  color: #ffffff;
}

.carousel-caption h4 {
  margin: 0 0 5px;
}

.carousel-caption p {
  margin-bottom: 0;
}
.profile_url {
  color: #fff;
  text-decoration: none;
}

.title_span {
  float: left;
  width: 250px;
}

.hide{
  display:none;
}

/* image upload */


#upload-area {
  height:80px;
  width: 98%;
  font-weight : bold;
  font-weight: 1.2em;
}

#upload-area .upload-box {
    padding-bottom:30px;
    margin-bottom:0;
    margin-right:10px;
}

#upload-area  #progressbar .progress {
    width: 49%;
}

.building-files, .space-files .span2 {
    width: 560px;
    margin-right:5px;
}

.building-files, .space-files .thumbnail .thumbnail-actions {
   text-align:right;
}


.thumbnail-actions
{
  margin:1px;
}

.thumbnail
{
  background-color: #FFFFFF;
  min-height: 60px;
  padding: 3px;
  vertical-align: middle;

}
.thumbnail a {
  float: right;
  margin-top: -15px;
  position: absolute;
}

.span-li{
  float:left;
  margin:7px;
}

.progress, .progress .bar {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.progress {
  height: 18px;
  margin-bottom: 18px;
  background-color: #f9f9f9;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#f5f5f5), to(#f9f9f9));
  background-image: -moz-linear-gradient(top, #f5f5f5, #f9f9f9);
  background-image: -ms-linear-gradient(top, #f5f5f5, #f9f9f9);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f5f5f5), color-stop(100%, #f9f9f9));
  background-image: -webkit-linear-gradient(top, #f5f5f5, #f9f9f9);
  background-image: -o-linear-gradient(top, #f5f5f5, #f9f9f9);
  background-image: linear-gradient(top, #f5f5f5, #f9f9f9);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#f9f9f9', GradientType=0);
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.progress .bar {
  width: 0%;
  height: 18px;
  background-color: #0480be;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#149bdf), to(#0480be));
  background-image: -moz-linear-gradient(top, #149bdf, #0480be);
  background-image: -ms-linear-gradient(top, #149bdf, #0480be);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #149bdf), color-stop(100%, #0480be));
  background-image: -webkit-linear-gradient(top, #149bdf, #0480be);
  background-image: -o-linear-gradient(top, #149bdf, #0480be);
  background-image: linear-gradient(top, #149bdf, #0480be);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#149bdf', endColorstr='#0480be', GradientType=0);
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: width 0.6s ease;
  -moz-transition: width 0.6s ease;
  -ms-transition: width 0.6s ease;
  -o-transition: width 0.6s ease;
  transition: width 0.6s ease;
}



.dt_span {
  float: left;
  width: 100px;
}

.ui-widget {
  font-family:  'Yanone Kaffeesatz', sans-serif !important;
}

.ui-datepicker{
  font-size: 12px !important;
   line-height: 1em !important;
}

.quote-list li label{
  font-weight: bold;
}

.team-thumbnails a {
  text-decoration: none;
}

.team-bios {
  padding: 20px 30px 30px;
}

.team-thumbnails .current .circle {
  border-color: #FFFFFF;
}

.team-thumbnails .thumbnails li {
  margin: 0 0 0 15px;
}

.thumbnails > li {
  float: left;
}

.team-thumbnails .circle {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 99em 99em 99em 99em;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  display: block;
  height: 100px;
  margin: 10px auto;
  width: 100px;
}

.pull-right {
  float: right;
}

.thumbnail-100{
 display: table-cell; 
 height: 100px; 
 margin: 0; 
 text-align: center; 
 vertical-align: middle; 
 width: 100px;
}

.thumbnail-500{
 display: table-cell; 
 height: 270px; 
 margin: 0; 
 text-align: center; 
 vertical-align: middle; 
 width: 500px;
}

.thumbnail-50{
 display: table-cell; 
 height: 50px; 
 margin: 0; 
 text-align: center; 
 vertical-align: middle; 
 width: 50px;
}

.thumbnail-75{
 display: table-cell; 
 height: 75px; 
 margin: 0; 
 text-align: center; 
 vertical-align: middle; 
 width: 75px;
}

.thumbnail-200{
 display: table-cell; 
 height: 200px; 
 margin: 0; 
 text-align: center; 
 vertical-align: middle; 
 width: 200px;
}

.d3_btn {
  color: rgba(255,255,255,1);
  text-decoration: none;
  font-family: 'Yanone Kaffeesatz';
  font-weight: 700;
  font-size: 3em;
  padding: 4px;
  border-radius: 8px;
  margin: 100px auto;
  width: 240px;
  text-align: center;
}
